
body {
  background-image: url('https://i.stack.imgur.com/fhEwl.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  padding: 1rem;
}

img{
  width: 2rem;
}

.todos{
  color: #fff;
  background-color: #21232A;
  border-radius: 10px;
  margin: .2rem;
}

.todo{
  align-self: center;
  padding-left: 10px;
  max-width: 70%;
  overflow-wrap:break-word;
}
.todo::first-letter{
  text-transform: uppercase;
}
.todoControl{
  font-weight: bold;
  font-size: 2rem;
}